<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Ajouter de la nourriture au frigo</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="form">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Nom de l'aliment</ion-label>
              <ion-input type="text" formControlName="foodName"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Catégories</ion-label>
              <ion-select formControlName="category">
                <ion-select-option *ngFor="let category of allCategories" [value]="category.id">{{ category.name }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Date d'ajout dans le frigo</ion-label>
              <ion-datetime display-format="YYYY MMMM DD" min="2019-01-01" formControlName="datePlacedInFreezer">
              </ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="add()" [disabled]="!this.form.valid || this.form.get('category').pristine">Ajouter
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card-content>
</ion-card>
<div class="spin" *ngIf="isLoading">
  <ion-spinner name="refresh-outline"></ion-spinner>
</div>