<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nourriture à mangé avant {{nbOfDaysAgo}} jours
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let foodItem of allFoodToEatSoon">
      <ion-label>
        <h2>{{foodItem.foodName}}</h2>
        <p>A mangé avant {{foodItem.betterToEatBefore | date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>